/* setting every tag to this*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
html {
	height: 100%;
}

body {
	height: 100%;
	background: url('../img/showcase2.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	display: flex;
	
	height: 15%;
	
	background:#7D3C98;
	
	align-content: space-between;
	border-bottom: 5px solid #F4D03F;


}

/* keyframes animations */

@keyframes fadeIn{
 	from {
 		opacity: 0;

 	}to{
 		opacity: 1;
 	}
 }

  @keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
     }


}

/* Contact form */
.contact_form{
	
	display: flex;
	justify-content: center;
	align-self: center;
	height: 75%;

	
	background-color: rgba(255,255,255,0.3);
	border-radius: 5px;


}

form {

	padding: 10px;
	border-radius: 15px;
}


.contact_form div{
	
	margin-bottom: 10px;
	margin-top: 10px;
	
}

.contact_form input{
	
	font-size: 16px;
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
	color: black;
	border:none;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	padding-top: 0px;
	text-indent: 6px;
	border-radius: 5px;
  	
}

.contact_form input[type=text]:focus {
transform: scale(1.01);
color:#aaa;
outline: none;

}


label {
	margin-top: 10px;
}

select{
	margin-bottom: 20px;
}

.submit-section{
	display: flex;
	align-self: center;
	justify-content: center;
}
.submit-section input{
	width: 30%;

}

.submit-section input:hover{
	transform: scale(1.1);

}

.message_section {
	display: flex;
	flex-direction: column;
	max-height: 40%;

}

.message_section textarea{
	 border-radius: 4px;
  resize: none;
  height: 100px;
  color: black;

}


.message_section select, .message_section option{
	margin-bottom: 5px;
	font-size: 16px;
	color:black;
}


/********************/ 
/* Buttons */


.buttoncontainer{
	text-align: center;
		

}
.button{

	background: rgba(00,00,00,0.2);

	border-radius: 5px;
	border:none;
	padding: 10px ;
	font-size: 20px;
	cursor: pointer;
	margin: 20px;
	color: white;
	outline: none;
	
	
}

.button:hover{

	animation: shadow-pulse 1s infinite;
	outline: none;
	
}

.button:active{
	transform: translateY(3px);
}

/*****************/

/**** header ***/

header .hamburger {
	display: none;
	
margin: 20px;
	align-self: center;
	
}
header .burger_row{
  width: 35px;
  height: 5px;
  background-color:white;
  margin: 6px 0;
  border-radius: 5px;
}

.hamburger:hover > .burger_row {
 transition: 2s;
 background-color: black; 

}

.hamburger:hover{
	transition: all 2s ;

	transform: rotate(90deg);
}


header .navbar {
	
	flex:1;
}

header .sidebar{
	flex: 1;
}

header .sidebar h4{

	text-shadow: 9px 9px 9px rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 6vh;


}



 
.nav-links {
	justify-content: space-around;
	list-style: none;
	display: flex;
}


.nav-link, 
.current-nav-link{
	display: flex;
 	color: white;
	font-size: 25px;
	padding: 10px;
	text-decoration: none;

}

.current-nav-link {
	color:black;
}


.nav-link:hover, .current-nav-link:hover{
	
	color: black;
	

 	
}


.main {
	

	height:80%;
	
	
}
.wrap {
	height: 100%;
	display: flex;
	justify-content:  center;

}



.content h1, .content p, .content h4{
	animation: fadeIn 6s;
	display: flex;

	align-self: center;
	justify-content: center;
	font-size: 45px;


}

.content h4 {
	font-size: 100px;
	
	
}



.sidebar{
	
	display: flex;
	align-self: center;
	justify-content: center;

	width: 25%;
	height: 100%;
	
	

}


.content {
	
	
	color: white;
	margin-top: 10vw;
	text-shadow: 5px 5px 5px rgba(00,00,00,0.4);
	

	width: 75%;
	
	
}

.graph{
	
	
	background: transparent;
	display: block;



}



footer {
	
	height: 5%;

	background-color: white;

	font-size: 25px;
	color: black;
	text-align: center;
	font-weight: bold;
}

.main .sidebar {

	display: none;
	height: 100%;

}

.popup
{
transition: all 1s;
height: 40%;


}

.popup .navbar .nav-links{
	background-color:rgba(00,00,00,0.4);
 	height: 100%;
 	
  	}



.popup .navbar .nav-links{
	display: block;
	height: 100%;
	
}


.popup .navbar .nav-link, .popup .navbar .current-nav-link{
	font-size:3vh;

}




/*** media queries **/


@media screen and (max-width: 1170px) {


header .navbar{
	display: none;
}
header .hamburger {
	display: inline;
}
  .main .content h1{
  	display: none;
  }
  header .sidebar h4{
  	font-size: 6vh;
  }

  header .sidebar{
  	
	flex:2;
	;
  }



 
  header .nav-link, header .current-nav-link {
  	margin: 10px;
  	padding: 5px;
 	font-size: 2vh;
  }
}

@media screen and (max-width: 590px) {

.main .sidebar {
	
	width: 60%;
}
header .sidebar h4 {
	font-size: 4vh;
}

.popup .navbar .nav-link, .popup .navbar .current-nav-link{

	font-size:20px;
}

.content p{
	font-size: 20px;
}

.content h4 {
	font-size: 50px;
}

}


@media screen and (max-width: 350px) {

.content p{
	font-size: 15px;
}

.content h4 {
	font-size: 35px;
}



}

